@mixin image($img-url, $img-width, $img-height) {
    $ratio: calc(#{$img-height} / #{$img-width});
    width: clamp(200px, 40vw, 700px);
    height: clamp(calc(200px * #{$ratio}), calc(40vw * #{$ratio}), calc(700px * #{$ratio}));
    background: url(#{$img-url}) center / contain no-repeat;
    display: block;

    @media (orientation: landscape) and (max-height: 600px) {
        display: none;
    }

    @media (min-width: 768px) {
        width: calc(#{$img-width} / 2.5 * 1px);
        height: calc(#{$img-height} / 2.5 * 1px);
    }

    @media (orientation: landscape) and (max-height: 360px) {
        display: none;
    }

    @media (min-width: 992px) {
        width: calc(#{$img-width} / 2.25 * 1px);
        height: calc(#{$img-height} / 2.25 * 1px);
    }

    @media (min-width: 1200px) {
        width: calc(#{$img-width} / 2 * 1px);
        height: calc(#{$img-height} / 2 * 1px);
    }
}
