@font-face {
    font-family: "Assistant";
    src: url(../assets/fonts/assistant/Assistant-Regular.woff2) format("woff2");
    font-weight: 400;
    style: normal;
    display: swap;
}

@font-face {
    font-family: "Assistant";
    src: url(../assets/fonts/assistant/Assistant-Medium.woff2) format("woff2");
    font-weight: 500;
    style: normal;
    display: swap;
}

@font-face {
    font-family: "Assistant";
    src: url(../assets/fonts/assistant/Assistant-SemiBold.woff2) format("woff2");
    font-weight: 600;
    style: normal;
    display: swap;
}

@font-face {
    font-family: "Assistant";
    src: url(../assets/fonts/assistant/Assistant-Bold.woff2) format("woff2");
    font-weight: 700;
    style: normal;
    display: swap;
}
