# Keycloak image
KEYCLOAK_VERSION=latest

# Keycloak admin credentials (required)
KEYCLOAK_ADMIN=change_me
KEYCLOAK_ADMIN_PASSWORD=change_me

# Database credentials (required)
KC_DB_USERNAME=change_me
KC_DB_PASSWORD=change_me

# Database config
KC_DB_NAME=keycloak
KC_DB_HOST=keycloakdb
KC_DB_PORT=5432

# Postgres image
POSTGRES_VERSION=15

# Networking
KC_HOSTNAME=localhost
KC_HOSTNAME_PORT=8080
KC_HOST_PORT=8080
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false

# Features
KC_LOG_LEVEL=info
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true
