.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--lg-button-size);
    width: auto;
    padding: 0.625rem;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: var(--ui-font);
    border-radius: var(--border-radius-lg);
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition:
        background-color 120ms ease,
        border-color 120ms ease;

    &:hover {
        background-color: var(--color-primary-darker);
    }

    &:active {
        background-color: var(--color-primary-darkest);
    }
}
